html.who
  head
    title Someone is Always Watching
    link(rel='stylesheet', href='/styles/core.css')
    link(rel='stylesheet', href='/styles/who.css')
  body
    .background
    include ./includes/nav.jade
    section.main-content._center
      img(src='images/header-eagle.png').header-eagle
      .dates June 9 – July 3, 2016 | Thursdays, Fridays & Saturdays at 7:30pm; Sundays at 2:00pm | At Theater Wit
      h1 The Creative Team
      for el in creative
        .person(bio='#{el.Bio}',image='/images/bios/#{el.Picture}')
          .icon(style='background-image: url(/images/bios/#{el.Picture})')
          .name  #{el.Name} - #{el.Role}
      h1 The Cast
      for el in cast
        .person(bio='#{el.Bio}',image='/images/bios/#{el.Picture}')
          .icon(style='background-image: url(/images/bios/#{el.Picture})')
          .name  #{el.Name} - #{el.Role}
      img(src='images/footer-eagle.png').footer-eagle
  script(src='/includes/jquery-2.1.4.min.js')
  script(src='/scripts/who.js')